#Home{
    background: greenyellow;
    border : 1px solid green;
}
#Search{
    background: greenyellow;
    border : 1px solid green;
}
#Update{
    background: greenyellow;
    border : 1px solid green;
}
#Logo{
    width: 20px;
    padding : 100px;
    border : 2px solid green;
    position: fixed;
    top : 0.01%;
    left: 0.0525%;
}
#Banner {
    width: 100%;
    padding: 100px;
    border: 2px solid green;
    position: relative;
}
#FormParent{
    width : 100%;
    padding : 60px;
    position: relative;
    justify-content: flex-start;


}
#logopic{
    position : fixed;
    top : 1%;
    left : 1%;
    width: 170px;
    height: 190px;
}
#sendbutton{
    position: relative;
}
#searchForm1{
    order : 1;
    text-align: left;
    position: fixed;
    left: 10%;

}


#breakline1{
    line-height: 3em;
}

#Text{
    left : 35%;
    top: 40%;
    border: 2px solid green;
    width:800px;
    position: fixed;

}
.organism{
    font-family: "Arial Black";
    font-size: 15px;
}
.summary{
    font-family: Courier;
    font-size: 13px;
}



/* Graph part */
#cy {
  width: 700px;
  height: 700px;
  display: block;
}

#sunBurst {
  border:1px
  solid black;
}
