<!DOCTYPE html>
<html lang="en">
<head>
    <title>ScienceSearch</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='OpmaakCSS.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid" id="Banner">
        <div class="container-fluid" id="Logo">
            <img id= logopic src="static/ScienceSearch204_204V2.png">

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" id="Home"><a href="http://127.0.0.1:5000"> Home</a> </div>
        </div>
    </div>

    <div class="container" id="FormParent">
        <form action="http://127.0.0.1:5000/search" method="POST" name="Formm">
            <input type="submit">
            Search : <input type="text" name="Search1">
        </form>
        </div>
        </div>

    </div>
    <div id="Text">

        <a href="http://127.0.0.1:5000/sunBurst" value="kaas" }}>  <p> {{ link }}</p> </a>
        <p class="summary">{{ text }}</p>

    </div>


    <script type=text/javascript src="{{
            url_for('static', filename='Dropdown.js') }}">

    </script>
    <script type=text/javascript src="{{
            url_for('static', filename='showForm.js') }}">

    </script>
    <script type=text/javascript src="{{
            url_for('static', filename='CheckboxLimit.js') }}">

    </script>


</body>
</html>
